/* 기본 스타일 */
input,
button,
select,
textarea {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 50px;
}
